@import "tailwindcss";
@plugin '@midudev/tailwind-animations';


@layer theme {
  .gradient {
    @apply bg-linear-to-r from-black to-green-500 text-transparent bg-clip-text inline-block
  }
  .gradient-title {
    @apply bg-linear-to-r from-white to-white text-transparent bg-clip-text inline-block
  
  }
}

@layer components {
  ul > .list {
    @apply bg-transparent border border-black text-black hover:scale-105 transition-all hover:bg-white cursor-pointer px-15 py-2 rounded font-bold
  }
}

body {
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input {
  --icon-size: 28px;
  position: relative;
}


.search::placeholder {
  color: color-mix(in lch, canvas, canvasText 30%);
}

.search {
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.15),
    0 8px 10px -6px rgb(0 0 0 / 0.25);
  font-family: inherit;
  min-width: 300px;
  padding: 1rem 1rem 1rem calc(1rem + var(--icon-size) + 0.5rem);
  font-size: 1.025rem;
  background:
    linear-gradient(canvas, canvas) padding-box,
    linear-gradient(120deg, hsl(116, 89%, 22%), hsl(132, 100%, 48%)) border-box;
  border: 4px solid transparent;
  border-radius: 12px;
  outline: none;
  min-height: 30vh;
  min-width: 50vw;
  resize: none;
  /*   background-clip: padding-box, border-box; */
}