@import "tailwindcss";
@plugin '@midudev/tailwind-animations';


@layer theme {
  .gradient {
    @apply bg-linear-to-r from-black to-green-500 text-transparent bg-clip-text inline-block
  }
  .gradient-title {
    @apply bg-linear-to-r from-white to-white text-transparent bg-clip-text inline-block
  
  }
}

@layer components {
  ul > .list {
    @apply bg-transparent border border-black text-black hover:scale-105 transition-all hover:bg-white cursor-pointer px-15 py-2 rounded font-bold
  }
}

body {
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input {
  --icon-size: 28px;
  position: relative;
}


.search::placeholder {
  color: color-mix(in lch, canvas, canvasText 30%);
}

.search {
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.15),
    0 8px 10px -6px rgb(0 0 0 / 0.25);
  font-family: inherit;
  min-width: 300px;
  padding: 1rem 1rem 1rem calc(1rem + var(--icon-size) + 0.5rem);
  font-size: 1.025rem;
  background:
    linear-gradient(canvas, canvas) padding-box,
    linear-gradient(120deg, hsl(116, 89%, 22%), hsl(132, 100%, 48%)) border-box;
  border: 4px solid transparent;
  border-radius: 12px;
  outline: none;
  min-height: 30vh;
  min-width: 50vw;
  resize: none;

}


loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-box {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.color {
  background-color: #00d916;
}
.WH {
  width: 10px;
  height: 70px;
  position: absolute;
}

.l1 {
  left: 0;
  animation: l1 4s infinite linear;
}
.l2 {
  right: 0;
  animation: l2 4s infinite linear;
}
.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  animation: ball 4s infinite linear;
}

@keyframes l1 {
  0% {
    top: 0%;
  }
  10% {
    top: -20%;
  }
  20% {
    top: 0%;
  }
  30% {
    top: 40%;
  }
  40% {
    top: 0%;
  }
  50% {
    top: 30%;
  }
  60% {
    top: 40%;
  }
  70% {
    top: 60%;
  }
  80% {
    top: -10%;
  }
  90% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}
@keyframes l2 {
  0% {
    bottom: 0%;
  }
  10% {
    bottom: -20%;
  }
  20% {
    bottom: 40%;
  }
  30% {
    bottom: 60%;
  }
  40% {
    bottom: 20%;
  }
  50% {
    bottom: 30%;
  }
  60% {
    bottom: 40%;
  }
  70% {
    bottom: 60%;
  }
  80% {
    bottom: -10%;
  }
  90% {
    bottom: 10%;
  }
  100% {
    bottom: 0%;
  }
}
@keyframes ball {
  0% {
    top: 80%;
    left: 96%;
  }
  10% {
    top: 10%;
    left: 3%;
  }
  20% {
    top: 10%;
    left: 90%;
  }
  30% {
    top: 60%;
    left: 3%;
  }
  40% {
    top: 10%;
    left: 90%;
  }
  50% {
    top: 50%;
    left: 3%;
  }
  60% {
    top: 10%;
    left: 90%;
  }
  70% {
    top: 93%;
    left: 3%;
  }
  80% {
    top: 83%;
    left: 90%;
  }
  90% {
    top: 10%;
    left: 3%;
  }
  100% {
    top: 80%;
    left: 90%;
  }
}
